<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
        crossorigin="anonymous">
  <title>Create Question</title>
  <style>
        .profile-icon {
            margin-left: auto;
            margin-right: 20px;/* Pushes the icon to the right */
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-grey" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <!--  <a class="navbar-brand" href="#"></a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{'/Admin'}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" th:href="@{'/question/List'}">Questions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" th:href="@{'/quiz/QuizList'}">Quizes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" th:href="@{'/user/userList'}">User List</a>
        </li>

        <li class="nav-item">
          <form action="#" th:action="@{/logout}" method="POST">
            <button class="btn btn-secondary " type="submit" value="Logout">Logout</button>
          </form>
        </li>
      </ul>
      <div class="profile-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
          <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
        </svg>
        <span sec:authentication="principal.username"></span>
      </div>

    </div>
  </div>
</nav>
<div class="container">
<hr>
  <form th:action="@{/question/save}" th:object="${questions}" method="POST">
    <div class="row">
      <!-- Hidden ID field for updating existing questions -->
      <input type="hidden" th:field="*{id}">
      <!-- Question Title -->
        <div class="mb-3"><label class="form-label">Question Title</label>
          <input type="text" th:field="*{questionTitle}" class="form-control" >
        </div>
       <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label">Option 1</label>
          <input type="text" th:field="*{option1}" class="form-control">
        </div>
         <div class="mb-3">
           <label class="form-label">Option 3</label>
           <input type="text" th:field="*{option3}" class="form-control">
         </div>
         <div class="mb-3">
           <label  class="form-label">Difficulty Level</label>
           <input type="text" th:field="*{difficultylevel}" class="form-control" >
         </div>
      </div>

      <!-- Options -->
      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label">Option 2</label>
          <input type="text" th:field="*{option2}" class="form-control">
        </div>
        <div class="mb-3">
          <label class="form-label">Right Answer</label>
          <input type="text" th:field="*{rightAnswer}" class="form-control">
        </div>
        <div class="mb-3">
          <label class="form-label">Category</label>
          <input type="text" th:field="*{category}" class="form-control">
        </div>

      </div>
      <!-- Submit Button -->
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Save</button>
        <a th:href="@{'/question/List'}"  class="btn btn-primary">Back</a>
      </div>
    </div>
  </form>
</div>

<!-- Bootstrap JS (if not included elsewhere) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
        crossorigin="anonymous"></script>

</body>

</html>
