<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
        crossorigin="anonymous">
  <title>Create Question</title>
</head>
<body>

<div class="container">
  <h3>Create New Question</h3>
  <hr>
  <form th:action="@{/question/save}" th:object="${questions}" method="POST">
    <div class="row">
      <!-- Hidden ID field for updating existing questions -->
      <input type="hidden" th:field="*{id}">
      <!-- Question Title -->
        <div class="mb-3"><label class="form-label">Question Title</label>
          <input type="text" th:field="*{questionTitle}" class="form-control" >
        </div>
       <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label">Option 1</label>
          <input type="text" th:field="*{option1}" class="form-control">
        </div>
         <div class="mb-3">
           <label class="form-label">Option 3</label>
           <input type="text" th:field="*{option3}" class="form-control">
         </div>
         <div class="mb-3">
           <label  class="form-label">Difficulty Level</label>
           <input type="text" th:field="*{difficultylevel}" class="form-control" >
         </div>
      </div>

      <!-- Options -->
      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label">Option 2</label>
          <input type="text" th:field="*{option2}" class="form-control">
        </div>
        <div class="mb-3">
          <label class="form-label">Right Answer</label>
          <input type="text" th:field="*{rightAnswer}" class="form-control">
        </div>
        <div class="mb-3">
          <label class="form-label">Category</label>
          <input type="text" th:field="*{category}" class="form-control">
        </div>

      </div>
      <!-- Submit Button -->
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Save</button>
        <a th:href="@{'/question/List'}"  class="btn btn-primary">Back</a>
      </div>
    </div>
  </form>
</div>

<!-- Bootstrap JS (if not included elsewhere) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
        crossorigin="anonymous"></script>

</body>

</html>
