<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <title>Attempt Quiz</title>
</head>
<body>
<h1>Quiz Title: <span th:text="${quiz.title}"></span></h1> <!-- Display the quiz title -->
<div class="container">

    <hr>
    <form th:action="@{/quiz/submit}" th:object="${}" method="POST">

    </form>



</div>

<ul>
    <li th:each="question : ${questions}">
        <p th:text="${question.questionTitle}"></p> <!-- Display question title -->
        <ul>
            <li th:text="${question.option1}"></li> <!-- Display option 1 -->
            <li th:text="${question.option2}"></li> <!-- Display option 2 -->
            <li th:text="${question.option3}"></li> <!-- Display option 3 -->
        </ul>
    </li>
</ul>
</body>
</html>
